<div class="container d-flex h-100">
        <div class="flex-row justify-content-center align-self-center" style="margin: auto">
            <div class="flex-col justify-content-center align-self-center">
                <img class="img-fluid rounded-circle" style="max-width: 50vw; max-height: 50vh" src="https://source.unsplash.com/random" alt="random">
            </div>
        </div>
    </div>
<!-- This component must be in a carousel. -->
<div class="carousel-caption">
    <h1>Hello! How can I help?</h1>
 </div>