<div class="container-fluid">
    <div class="row">
        <div class="col px-0">
            <div id="carouselApp" class="carousel slide" data-interval="false">
                <div class="carousel-item active bg-primary" style="height:100vh">
                    <app-splash></app-splash>
                </div>
                <div class="carousel-item">
                    <app-form></app-form>
                </div>
            </div>
            <a *ngIf="!this.clicked" 
                class="carousel-control-next" 
                href="#carouselApp" 
                role="button" 
                data-slide="next" 
                (click)="carouselClicked()">
                    <span class="carousel-control-next-icon text-dark" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
        </div>
    </div>
</div>
